/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin ohjelmoinninalkeet {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
 h1 {font-size:30px; text-align:center}
 
 h2 {text-align:center; margin-top:30px}
 
 p {font-size:16px; text-align:rigth; margin-left:20px; margin-top:80px; margin-right:20px}
 
 .v-button-caption {color:blue; font-size:14px;}
 
 .v-button {margin:30px; width:150px;}
 
}
