/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin ohjelmoinninalkeet {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
 h1.etuSivuOtsikko {font-size:36px; text-align:center; margin-top:7%;}
 
 h1.python {font-size:36px; text-align:center; margin-top:2%;}
 
 h1.editoriOtsikko {font-size:36px; text-align:left; margin-bottom:5%;}
 
 h2 {font-size:30px; text-align:center; margin-top:10%}
 
 b.esittelyotsikko {font-size:26px;}
 
 p {font-size:17px; text-align:rigth; margin-left:20px; margin-top:20px; margin-right:20px; line-height:1.5;}
 
 .v-button-caption {color:blue; font-size:20px;}
 
 .v-button {margin-left:2%; margin-top:10%; margin-bottom:10%; width:90%; border-style:none;}
 
 .v-panel {margin-top:3%;}
 
 .v-splitpanel-horizontal {background:#F0F0F0;}
 
 .v-vertical {background:#F0F0F0;}
 
 .v-textarea {margin-left:4%;}
 
 .tulosteStyle {margin-top:2%;}
 
 .tekijaStyle {font-size:14px; margin-left:1%; margin-top:60%;}
 
 .tehtavaStyle .v-button-caption {color:black; font-size:18px;}
 
 .tehtavanAnto {font-size:30px; text-align:center;}
 
 .takaisinStyle {margin-top:3%; margin-left:2%; margin-bottom:2%; width:20%;}
 
 .arvioiStyle {margin-top:5%; margin-left:50%; margin-bottom:2%; width:100%;}
 
 .arvioiStyle .v-button-caption {color:black;}
 
 .suoritaStyle {margin-top:5%; margin-left:30%; margin-right:5%; margin-bottom:2%; width:100%;}
 
 .suoritaStyle .v-button-caption {color:black;}
 
 .pythonStyle {width:40%;}		
 
 .pythonStyle .v-button-caption {color:black;}
 
}
